/* Sticky footer styles
-------------------------------------------------- */
html,body {
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 61px;
}

.full-height {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow-y: auto;
  background: #f8f8f8;
}

.full-height.fh-fixed-nav {
  top: 50px;
}

.full-height.fh-fixed-footer {
  bottom: 61px;
}

.navbar-default.navbar-white {
  background-color: #fff;
  border-color: #e7e7e7;
}

.fh-breadcrumb {
  height: calc(100% - 115px);
  position: relative;
  overflow-y: auto;
}

.container-fluid.fh-container,
.container.fh-container {
  padding-top: 20px;
}

.row.container-header {
  background: #fff;
  border-top: 0;
  padding: 0px 10px 10px 10px;
  border-bottom: 1px solid #e7eaec;
}

/* footer
---------------------*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 61px;
  background-color: #fff;
  border-top-style: solid;
  border-color: #e7e7e7;
  border-width: 1px;
}

.footer .text-muted {
  margin: 20px 0;
}
