/* Sticky footer styles
-------------------------------------------------- */
html,body {
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar-default.navbar-white {
  background-color: #fff;
  border-color: #e7e7e7;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 61px;
  background-color: #fff;
  border-top-style: solid;
  border-color: #e7e7e7;
  border-width: 1px;
}

.full-height {
  height: 100%;
  overflow-y: auto;
  width: auto;
}

.fh-breadcrumb {
  height: calc(100% - 115px);
  /*margin: 0 -15px;*/
  position: relative;
  overflow-y: auto;
}

.fh-no-breadcrumb {
  height: calc(100% - 61px);
  padding: 50px 0px 0px 0px;
  /*margin: 0 -15px;*/
  position: relative;
}

.container-fluid.fh-container {
  height:100%;
  padding: 50px 0px 0px 0px;
}

.container.fh-container {
  height:100%;
  margin-top: 30px;
}

.fh-column {
  background: #f8f8f8;
  height: 100%;
  width: 100%;
}

.row.container-header {
  background: #fff;
  border-top: 0;
  padding: 0px 10px 10px 10px;
  border-bottom: 1px solid #e7eaec;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
